@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f1f1
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-sidebar {
  
  @media (min-width: 640px){
    background-color: #164781
  }
}

.box-shadow{
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.16);
}

.color-a {
  color: #63636c
}
.color-b {
  @media (min-width: 640px){
    color: #2253af
  }
}